/* CSS reset 
	(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}


/* General styles 
	(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/
body{
	background-color: #F4FAFF;
	font-family: 'Dosis', sans-serif;
	color: gray;
}

/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/
.banner-section{
	background-color: #a1d3a2;
	/*background-color: #69DC9E;*/
	width: 100%;
    height: 10em;
    padding: 2em 0;
    text-align: center;
}

.banner-section h1{
	font-family: 'Dosis', sans-serif;
	font-size: 	300%;
	color:#F4FAFF;
	padding-top: .5em;
}

.check-box{
	background-color: #F4FAFF;
	height: 5em;
	width: 5em;
	border: .5em solid gray;
	border-radius: .5em;
	margin: 0 auto;
	text-align: center
}

img.banner-check{
margin: -4em auto;
}

/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/
.input-section{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

.instructions{
	margin-top: 2em;
	font-style: italic;
	font-weight: bold;
}

#newItem{
	width:80%;
	margin-top:2em;
	height: 2em;
	font-size: 1em;
	color: gray;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
/*	border: 1px solid gray;*/
}


#addItem{
	color: gray;
	background-color: transparent;
	height:2em; 
	width:2em;
	border:0;
	margin: 0;
	border-radius: .5em;


}

#addItem:hover{
	color: #F4FAFF;
	background-color: #a1d3a2;
}

hr{
	width:100%;
	text-align: center;
	margin: 1em 0;
}

.list-section{
	width:60%;
	margin: 0 auto;
	text-transform: uppercase;
}

.list-section li{
	width:100%;
	height: 2em;
	text-align: left;
}

#itemList{
	list-style: none;
	padding:0;
}

.checkMark{
	color:#0076A3;
/*	float: left;*/
	vertical-align: text-bottom;
	margin-right: 2em;
	padding:.1em;
}

.checkMark:hover{
	background-color: #F4FAFF;
	border: .2em solid gray;
	border-radius: .5em;
}

.delete{
	float:right;
	padding: .2em .3em;
	border-radius: .5em;
}

.delete:hover{
	color: #F4FAFF;
	background-color: gray;
}
/*li p{
	height: 2em;
}*/

.innerList{
	list-style: none;
	display:inline;
}
.innerList li{
	display:inline;
}

.clear-section{
	width: 60%;
	margin: 0 auto;
	text-align: center
}

button.clear{
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #F4FAFF;
	background-color: #0076A3;
	border: 0;
	width: 90%;
	padding-top: 0em;
	padding-bottom: 0em;
	margin-top: 1em;

}

button.clear:hover{
	background-color: gray;
}

.cross-out{
	background-color: #a1d3a2;
}


/* Footer styles 
	(all the styles inside the < footer > tag)
*/


/* Responsive styles 
	(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/